body {
    background-color:skyblue;
    color:darkorchid;
}

.heading {
    width:80%;
    font-size:25px;
}

.name_of_objects,#result_object_name,#result_object_accuracy {
    color:crimson;
    font-size:18px;
}

#camera {
    border:2px dashed mediumslateblue;
    width:350px;
    height:300px;
}